@media (min-width:550px) {
    input[type="submit"] {
        display: block;
        margin-top: 20px;
    }

    label#fileLabel {
        width: auto;
    }
    
    .one-half.column:last-child {
        margin-top: 0;
    }
}