.container#table {
    margin-top: 5%;
    overflow: auto;
}

th, td {
    text-align: center;
}

th:last-child, td:last-child {
  padding-right: 15px;
}

td p {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

@media (min-width: 840px) {
  .container#table {
    max-height: 400px;
  }
}